/* basic.css */

body {
    padding: 0px !important;
    font-size: 12px !important;
    color: #111111 !important;
}
#optimizeBox {
    position: absolute !important;
    top: 30px !important;
    left: 720px !important;
    font-size: 14px !important;
}
#input {
    position: absolute !important;
    top: 120px !important;
    left: 0px !important;
    width: 700px !important;
    bottom: 0px !important;
    font-size: 15px !important;
}
#output {
    position: absolute !important;
    top: 120px !important;
    left: 720px !important;
    right: 10px !important;
    bottom: 0px!important;
    font-size: 14px !important;
}